<div class="about-container">
 <div class="about-top">
    <div class="about-img-top">
        <img src="assets\images\x1.jpg" alt="">
    </div>
 </div>
 <div class="center-about">
      <div class="text-about">
          ABOUT FARAD BLOG
      </div>
      <div class="icon-about">
        <mat-icon> location_on</mat-icon>
        <div>
          ACCRA - GHANA
        </div>
      </div>
      <div class="about-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Delectus perspiciatis laboriosam perferendis dolor. Perferendis
          dolorem excepturi numquam perspiciatis,
          saepe impedit blanditiis velit dignissimos adipisci temporibus eaque qui.
          Delectus perspiciatis laboriosam perferendis dolor. Perferendis
          dolorem excepturi numquam perspiciatis,
          saepe impedit blanditiis velit dignissimos adipisci temporibus eaque qui.
      </div>
      <div class="about-content about-next">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Delectus perspiciatis laboriosam perferendis dolor. Perferendis
        dolorem excepturi numquam perspiciatis,
        saepe impedit blanditiis velit dignissimos adipisci temporibus eaque qui.
        Delectus perspiciatis laboriosam perferendis dolor. Perferendis
        dolorem excepturi numquam perspiciatis,
        saepe impedit blanditiis velit dignissimos adipisci temporibus eaque qui.
    </div>
    <footer class="foot">

    </footer>
 </div>
</div>
