<div class="main-container">
  <header>
    <div class="navbar" fxLayout="row" fxLayoutAlign="start space-between" fxLayoutGap="290px">
      <div class="navbar-brand" fxLayoutAlign="start stretch">
        <button class="navbar-brand" mat-button fxLayout='row'  routerLink="/home"> Farad</button>
      </div>
      <div class="nav-content" fxLayout="row" fxLayoutGap="30px" fxHide.lt-lg>
        <div>
          <button mat-button  routerLink="/home">Home</button>
        </div>
        <div>
          <button mat-button routerLink="/headings/categories">Categories</button>
        </div>
        <div>

          <button mat-button  routerLink="/headings/about">About</button>
        </div>
        <div>
          <button mat-button>Recent Activities</button>
        </div>
        <div class="sign" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px" fxHide.lt-sm>
          <button mat-raised-button class="register login" routerLink='/headings/login'>Login</button>
          <button mat-raised-button class="register" routerLink='/headings/sign-up'>Register</button>
        </div>
      </div>
    </div>
  </header>
<div class="content">
  <router-outlet></router-outlet>
</div>
</div>


