<div class="main">
  <div class="overlay">

    <div class="container-fluid navbar" fxLayout="row" fxLayoutAlign="start space-between" fxLayoutGap="290px">
      <div class="navbar-brand" fxLayoutAlign="start stretch">
        <button class="navbar-brand" mat-button fxLayout='row' routerLink="/home"> Farad</button>
      </div>
      <div class="nav-content" fxLayout="row" fxLayoutGap="30px" fxHide.lt-lg>
        <div>
          <button mat-button routerLink="/home">Home</button>
        </div>
        <div>
          <button mat-button routerLink="/headings/categories">Categories</button>
        </div>
        <div>

          <button mat-button  routerLink="/headings/about">About</button>
        </div>
        <div>
          <button mat-button>Recent Activities</button>
        </div>
        <div class="sign" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px" fxHide.lt-sm>
          <button mat-raised-button class="register login" routerLink="/headings/login">Login</button>
          <button mat-raised-button class="register" routerLink="/headings/sign-up">Register</button>
        </div>
      </div>
      <!-- <div fxHide.gt-sm fxShow.lt-sm>
        <button class = 'menu'mat-button><mat-icon  class="menu-icon">reorder</mat-icon></button>
       </div> -->
    </div>
    <!-- navbar ends  -->

    <div class=" container-fluid words" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
      <h2>Thoughts, stories </h2>
      <h2>emotions,feelings and ideas </h2>
      <h3>Let's make magic Together</h3>
    </div>
  </div>
</div>

<!-- 1st page ended -->
<div class="hot">
  <div class=" trends">
    <div class="card">
      <img src="assets\images\s4.jpg" alt="">
      <div class="text">
        <div>
          <h4 class="style">FEATURED</h4>
          <h5>Don't be Afraid</h5>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets\images\s2.jpg" alt="">
      <div class="text">
        <div>
          <h4 class="style">FEATURED</h4>
          <h5>You have to fight to reach your dream</h5>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets\images\s1.jpg" alt="">
      <div class="text">
        <div>
          <h4 class="style">FEATURED</h4>
          <h5>Prince Charming and Snow White</h5>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets\images\s3.jpg" alt="">
      <div class="text">
        <div>
          <h4 class="style">FEATURED</h4>
          <h5>Come with Me</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="tags" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start">
    <div class="first">
      <img src="assets\images\w1.jpg" alt="">
      <div class="feature" fxLayoutAlign="center center">
        Features
      </div>
    </div>

    <div class="first">
      <img src="assets\images\w3.jpg" alt="">
      <div class="feature meet" fxLayoutAlign="center">
        Meet Our Authors
      </div>
    </div>
  </div>
  <div class=" all">
    <div class="grid-text" fxLayout="row" fxLayoutAlign="space-between">
      <div class="cap">
        Latest Posts
      </div>
      <div class="top" fxLayoutAlign="end center" fxHide.lt-md>
        <div class="auth stacky">
          <img src="assets\images\e2.jpg" alt="">
        </div>
        <div class="auth stackie">
          <img src="assets\images\e3.jpg" alt="">
        </div>
        <div class="auth stack">
          <img src="assets\images\w2.jpg" alt="">
        </div>
        <div class="auth ">
          <img src="assets\images\e1.jpg" alt="">
        </div>

      </div>
      <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="size">trending_flat</mat-icon>
      </div>
    </div>
  </div>
  <div class="all-center" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="20px" fxLayoutAlign.gt-sm="space-between end">
    <div class="grid-image-first ">
      <img src="assets\images\a4.jpg" alt="">
      <div class="grid-cap">
        <h5>Title</h5>
        <h5>content</h5>
        <h5>author</h5>
      </div>
    </div>

    <div class="grid-image">
      <img src="assets\images\e1.jpg" alt="">
      <div class="grid-cap">
        <h5>Title</h5>
        <h5>content</h5>
        <h5>author</h5>
      </div>
    </div>
  </div>

  <div class="inside-here">
    <div class="next-grid" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="20px">
      <div class="next-grid-image">
        <img src="assets\images\s1.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>

      <div class="next-grid-image">
        <img src="assets\images\s2.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>

      <div class="next-grid-image">
        <img src="assets\images\s3.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>

      <div class="next-grid-image">
        <img src="assets\images\s4.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>

      <div class="next-grid-image">
        <img src="assets\images\w3.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>

      <div class="next-grid-image">
        <img src="assets\images\w1.jpg" alt="">
        <div class="next-grid-cap">
          <h5>Title</h5>
          <h5>content</h5>
          <h5>author</h5>
        </div>
      </div>
    </div>

    <!-- end of grid -->

    <div class="load" fxLayout="row" fxLayoutAlign="center start">
          <button mat-button class="load-more">Load More</button>
          <!-- <mat-icon class="icon-load"> arrow_downward</mat-icon> -->
    </div>

    <footer class="foot">

    </footer>
  </div>

  <div>

  </div>


</div>


