.main{
  height: 100%;
  overflow: hidden;
  background-image: url('src/assets/images/a4.jpg');
  background-repeat: no-repeat;
  background-color: red;
  position: relative;
}



img{
  width: 100%;
  height: 100%;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(100, 147, 203, 0.35);
    position: absolute;
    top: 0;
    left: 0;
}

.navbar{
 width: 100%;
 position: fixed;
 /* border-bottom: 1px solid gainsboro; */
 z-index: 2;

}


.navbar-brand{
  font-size: 40px;
  color:#FFFFFF;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: "festive";


}

.nav-content{
  /* border: 2px solid green; */
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 65%;
}


.nav-content button{
  color:#FFFFFF;
  font-weight: 900;
}

.sign{
  /* border:2px solid red; */
  width: 100%;

}

.register{
  background-color: #14AE9C;
  border-radius: 15px;
  color:#FFFFFF;
  display: inline-block;

  margin-left: 30px;
}


.login{
  margin-right: 5px;
  background-color: #1E2631;

}

.words{
  padding: 5px;
  position: relative;
  top:275px
}

.words h2{
  font-size: 50px;
  color:#FFFFFF;
  font-weight: bold;
  margin-left: 10px;
}

h3{
  font-size: 25px;
  color:#FFFFFF;
  font-weight: 600;
}




.hot{

    /* border: 2px solid red; */
    height: 200%;
}

.trends{
  width: 100%;
  overflow: hiddne;
  position: relative;
  top:150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap:15px ;
  padding: 15px;
  box-sizing: border-box;
}

.card{
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 280px;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover{
  margin-top: 8px;
 transition: ease-in-out;
}

.first:hover{
  margin-top: 8px;
 transition: ease-in-out;
}

.card img{
  height: 550px;
  border-radius: 45px;
  object-fit: cover;
}

.text{
  position: absolute;
  bottom: 55px;

  left: 30px;
}

.text h5{
  font-weight: bolder;
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 25px;
  font-size: 22px;
}

.style{

  font-size: 18px;
  color: white;
  font-weight: 400;
}

.tags{
  width: 100%;
  padding: 10px;
  /* border: 2px solid red; */
  position: relative;
  top: 160px;


}

.first{
  width: 45%;
  height: 100px;
  /* border: 2px solid green; */
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.first img{
  width: 100%;
  height: 100px;
  border-radius: 30px;
  object-fit: cover;
}

.feature{
  position: relative;
  bottom: 75px;
  line-height: 20px;
  /* left: 20px; */
  font-size: 20px;
  font-weight: 600;
  padding: 3px;
  color: red;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.meet{
  left: 5px;
}

.all{
  border-bottom: 1px solid #1E2631;
  position: relative;
  top: 240px;
  width: 90%;
  margin: 0px auto;
}

.cap{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    padding: 20px;
    margin-top: 50px;
}

.size{
  font-size: 60px;
  margin-right: 70px;
  margin-top: 50px;
  color: #1E2631;
}

.grid-text{

}

.top{
  /* border:2px solid red; */
  display: flex;
  width: 50%;
  margin-left: 120px;

}

.auth{
    /* border: 2px solid black; */
    width: 13%;
    /* height: 50px; */
    border-radius: 15px;
    margin-bottom: 20px;
}

.auth img{
 object-fit: cover;
  height: 92px;
  border-radius: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.auth:hover{
  margin-top: 8px;
  transition: ease-in-out;
}

.stack{
  position: relative;
  left: 25px;
}

.stackie{
  position: relative;
  left: 55px;
}

.stacky{
  position: relative;
  left: 90px;
}

.all-center{
  width: 80%;
  /* border: 2px solid green; */
  position: relative;
  top: 260px;
  margin: 0px auto;
}

.grid-image{
   width:100%;
   /* border: 2px solid red; */
   height: 290px;
   border-radius: 45px;
   margin-bottom: 20px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   cursor: pointer;
}

.grid-image-first{
  width:100%;
  /* border: 2px solid red; */
  height: 290px;
  border-radius: 45px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.grid-image-first img{
  border-radius: 45px;
  object-fit: cover;
}

/* .grid-image:hover{
  margin-left: 38px;
  transition: ease-in-out;
} */

.grid-image img{
  border-radius: 45px;
  object-fit: cover;
}

.grid-cap{
  position: relative;
  bottom: 155px;
  color: red;
}

.grid-cap h5{
  position: relative;
  bottom: 75px;
  line-height: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 3px;
  color: red;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inside-here{
  width: 100%;
  /* border: 2px solid green; */
  position: relative;
  top: 260px;
  margin: 0px auto;
}

.next-grid{
  width: 90%;
  margin: 0px auto;

}

.next-grid-image{
  width:100%;
   /* border: 2px solid red; */
   height: 290px;
   border-radius: 45px;
   margin-bottom: 20px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   cursor: pointer;
}

/* .next-grid-image:hover{
  margin-left: 38px;
  transition: ease-in-out;
} */

.next-grid-image img{
  border-radius: 45px;
  object-fit: cover;
}

.next-grid-cap{
  position: relative;
  bottom: 155px;
  color: red;
}

.next-grid-cap h5{
  position: relative;
  bottom: 75px;
  line-height: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 3px;
  color: red;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.load{
  /* border: 2px solid red; */
  width: 55%;
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.load-more{
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  background-color: #1E2631;
  color: #FFFFFF;
  height: 60px;
  border-radius: 30px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.load-more:hover{
  background-color: #14AE9C;
}

.icon-load{
  font-size: 30px;
  color:#FFFFFF;
  position: relative;
  /* right: 130px;
  top: 15px; */

  right: 68px;
  top: 15px;
}

.foot{
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 250px;
  height: 350px;
  background-color: #1E2631;
}

.scrolling-active{
  background-color: #1E2631;
  height: 90px;
  border-bottom: 1px solid #1E2631;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrolling-active .login{
  background-color: red;
}



/* .scrolling-active .navbar{
  width: 100%;
  height: 50px;

 border-bottom: 1px solid gainsboro;
 z-index: 2;
} */










@media only screen and (max-width: 420px)  {
  .words h2{
    font-size: 35px;
    margin: 0px;
    color:#FFFFFF;
    font-weight: bold;
    /* margin-left: 10px; */
  }

  .words{
    position: relative;
    top:225px
  }

  h3{
    font-size: 15px;
    color:#FFFFFF;
    font-weight: 600;
  }
}


@media only screen and (max-width: 1260px) {
  .nav-content{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}


@media only screen and (min-width: 790px) {

  .trends{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card{
    box-sizing: border-box;
    width: 100%;
    height: 480px;
    border-radius: 45px;
  }



}


@media only screen and (min-width: 1181px) {

  .trends{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card{
    box-sizing: border-box;
    width: 95%;
    height: 580px;
    border-radius: 45px;
  }

  .card img{
    height: 590px;

  }

  .first img{
    width: 100%;
    height: 70px;
  }

.tags{
  width: 60%;
  margin: 0px auto;

}

.feature{
  font-size: 25px;
  /* height: 50px; */
  bottom: 50px;
}

.first{
  height: 70px;
}
}

@media only screen and (min-width: 700px){
.all-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 90%;
}
.grid-image-first{
  width:60%;
  /* border: 2px solid red; */
  height: 350px;
}
.grid-image{
  width:40%;
  /* border: 2px solid red; */
  height: 320px;
}

.next-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.next-grid-image{
  width:98%;
   /* border: 2px solid red; */
   height: 370px;

}

/* .next-grid-image:hover{
  margin-bottom: 38px;
  transition: ease-in-out;
}

.grid-image:hover{
  margin-bottom: 38px;
  transition: ease-in-out;
} */

.load{
  width: 25%;
}

.icon-load{

  right: 130px;
  top: 15px;

}

}

@media only screen and (min-width: 700px) and (max-width: 979px) {
  .all-center{
      /* display: grid; */
      display: flex;
      column-gap: 10px;
      width: 90%;
  }
  .grid-image-first {
    width:70%;
    height: 290px;
  }

  .grid-image{
    width:40%;
    /* border: 2px solid red; */
    height: 290px;
  }

  /* .next-grid-image{
    width:98%;
     height: 370px;

  }

  .next-grid-image:hover{
    margin-bottom: 38px;
    transition: ease-in-out;
  } */

  .icon-load{

    right: 130px;
    top: 15px;

  }

  }


