<div class=" cate">
    <div class="cate-text">
        <div class="cate-one">
            <div class="inner-cate-one">
                Adult
            </div>
            <div class="inner-cate-two">
                <div class="inner-row-one">
                    Christian
                </div>
                <div class="inner-row-two">
                    Family
                </div>
            </div>
        </div>
        <div class="cate-two">
            <div class="inner2-row-one">
                  Friendship
            </div>
            <div class="inner2-row-two">

                <div class="inner2-row2-one">
                    Hope
                </div>
                <div class="inner2-row2 move">
                    Love
                </div>
                <div class="inner2-row2-two">
                      Humour
                </div>
                <div class="inner2-row2-one">
                    Nature
                </div>
                <div class="inner2-row2 move">
                    Pain
                </div>
                <div class="inner2-row2-two">
                      Spiritual
                </div>
            </div>
        </div>

        <div class="cate-one">
          <div class="inner-cate-one">
              Wedding
          </div>
          <div class="inner-cate-two">
              <div class="inner-row-one">
                  Rhyme
              </div>
              <div class="inner-row-two">
                  Death
              </div>
          </div>
      </div>


      <div class="cate-three">
        <div class="cate-three-row1">
            Wedding
        </div>
        <div class="cate-three-row2">
              Birthday
        </div>
      </div>
    </div>
    <div class="recent-cate">
      <div class="recent-text">
        Recently viewed categories
      </div>
      <div class="viewed">
          <div class="viewed-one">
            Christian
          </div>
          <div class="viewed-one">
              Love
          </div>
          <div class="viewed-one">
              Pain
          </div>
          <div class="viewed-one">
                Humour
          </div>
          <div class="viewed-one">
              Hope
          </div>
          <div class="viewed-one">
                Friendship
          </div>
      </div>

    </div>
</div>
